<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="#" />
    <title>Vue 3 Basics</title>
    <style>
      .box {
        width: 200px;
        height: 200px;
      }
      .box-one {
        background-color: purple;
      }
      .box-two {
        background-color: yellow;
      }
      .box-three {
        background-color: pink;
      }

      [v-cloak] {
        display: none;
      }

      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form></login-form>

      <!-- directives connect html elements with the vue javascript -->
      <br />
      <!-- v-model directive allows you to get the input value below -->
      <!-- vue will bind v-model to whatever variable we pass link to the attribute -->
      <!-- Because it's two way binding - it wil use the initial greeting variable but now it can be changed by input  -->
      <!-- as a result the greeting above is now controlled by the model -->
      <input
        @keyup.enter="greet(greeting + '!!!!!')"
        v-model="greeting"
        type="text"
      />

      <hr />
      <button v-on:click="isVisible = !isVisible">Toggle Box</button>
      <button @click="toggleBox">Toggle 2</button>
      <!-- v-if is like an if statement if value of the variable is truthy the entire element is shown and vice-versa -->
      <div v-if="isVisible" class="box box-one"></div>

      <!-- v-show is similar to v-if and takes a boolean variable - when it's false the div will be rendered to the dom but it won't be visible - with v-if the div won't be rendered at all -->
      <div v-show="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // the object inside is an options object
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },

        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });

      app.component("login-form", {
        template: `
          <div>
            <h1>{{ title }}</h1>
            <input type = "email" />
            <input type = "password" />
          </div>
        `,

        data() {
          return {
            title: 'Login Form'
          }
        }
      });
      // mount application somewhere on the html (#app)
      app.mount("#app");
    </script>
  </body>
</html>
